:root {
    /* Primary colours*/

    --periwinkle: #8a7ec0;
    --saffron: #e7c208;
    --pearl-beige: #ded3b4;
    --olive-wood: #706045;
    /* Additional colours */

    --coffee-bean: #23140c;
    --slate-blue: #7869b8;
    /* Override Bootstrap's colour variables */

    --bs-primary: var(--periwinkle);
    --bs-primary-rgb: 138, 126, 192;
    --bs-secondary: var(--slate-blue);
    --bs-warning: var(--saffron);
    --bs-danger: var(--coffee-bean);
    --bs-body-bg: var(--pearl-beige);
    --bs-bg: var(--pearl-beige);
    --bs-body-color: var(--coffee-bean);
    --bs-link-color-rgb: 138, 126, 192;
}

.btn-periwinkle {
    background-color: var(--periwinkle);
    border-color: var(--periwinkle);
    color: #ffffff;
}

    .btn-periwinkle:hover {
        background-color: var(--slate-blue);
        border-color: var(--slate-blue);
        color: #ffffff;
    }

.btn-outline-periwinkle {
    background-color: transparent;
    border-color: var(--periwinkle);
    color: var(--slate-blue);
}

    .btn-outline-periwinkle:hover, .btn-outline-periwinkle:focus {
        background-color: var(--slate-blue);
        border-color: var(--slate-blue);
        color: #ffffff;
    }

.btn-saffron {
    background-color: var(--saffron);
    border-color: var(--saffron);
    color: var(--coffee-bean);
}

.btn-outline.btn-saffron {
    background-color: transparent;
    border-color: var(--saffron);
    color: var(--saffron);
}

.btn-outline-wood {
    background-color: transparent;
    border-color: var(--olive-wood);
    color: var(--olive-wood);
}

    .btn-outline-wood:hover, .btn-outline-wood:focus {
        background-color: var(--olive-wood);
        color: var(--pearl-beige);
    }

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
